// index page
.page-title a {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
    }
}
.home-template,
.tag-template,
.author-template {
    .fa-bars {
        color: white;
    }

    .page-description {
        color: white;
    }

    .page-title a {
        text-decoration: none;
    }
    .post {
        padding: rem-calc(40) rem-calc(30);
        text-align: center;
        -webkit-transition: background-color .2s;
        transition: background-color .2s;
        &:first-of-type {
            border-top: solid rem-calc(1) darken($color-main-light, 3%);
        }
        border-bottom: solid rem-calc(1) darken($color-main-light, 3%);
        &:hover {
            background-color: darken($color-main-light, 3%);
        }
        @media screen and (min-width: 48em) {
            padding: rem-calc(40) rem-calc(30);
        }
    }
    .author-thumb {
        width: rem-calc(30);
        height: rem-calc(30);
        border-radius: 100%;
    }
    .post-title {
        color: $color-main-dark;
        margin: 0;
        font-size: rem-calc(28);
        line-height: 1.1;
        a, a:hover, a:focus, a:active {
            color: inherit;
            text-decoration: none;
        }
        @media screen and (min-width: 48em) {
            font-size: rem-calc(42);
            line-height: 1.3;
        }
    }
    .post-meta {
        color: lighten($color-main-dark, 20%);
        a, a:hover, a:focus, a:active {
            color: inherit;
        }
    }
}
